/* Wrapper */
#study_reading_article{
    background-color: var(--blue4);
    order: 2;
    flex-grow: 1;
    height: 100vh;
    overflow: hidden;
}

/* content tags */
#study_writing_div{
    z-index: 10;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    width: 50vw;
}

/* buttons */
#study_writing_div button{
    color: var(--white);
    background-color:#0099ae;
    font-size: 10px;
    border-radius: 0 !important;

}
#study_reading_article button{
    border-radius: 0;
    color: var(--white);
    background-color: #0099ae;
    box-shadow: 0px 10px 100px rgba(0, 0, 0, 0.237);
    
}
/* ReadingStructure Nav */
#study_readingStructure_content_nav{
    justify-content: center;
    align-items: center; 
    background-color: var(--blue4);

}
#study_readingStructure_content_nav button{
    width: min-content;
}


#study_reading_content_div label{
    text-align: center;
}

#study_reading_content_div_title, #study_writing_div_title{
    background-color: #0099ae;
    text-align: center;
    padding: 10px;
    font-size: 10px;
    box-shadow: 10px 1px 10px rgba(0, 0, 0, 0.272);
    z-index: 1;
}


#study_writing_div input,#study_writing_div select {
font-size: 10px;
text-align: start;

}
#study_writing_statement_form p{
    padding: 10px;
    font-size: 10px;
    color: var(--white2);
    background-color: #0099ae;
}
#study_writing_keywordProperties_div
{
    z-index: 1000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    width: 50vw;
}
#study_writing_changeFactor_div
{
    z-index: 1000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    background-color: var(--blue4);
    place-content: center;
    place-items: center;
}
#study_writing_keywordProperties_div button,
#study_writing_changeFactor_div button
{
    border-radius: 0;
    background-color: var(--blue4);
    color: var(--white);
    font-size: 10px;
    width: min-content;
}

#study_writing_keywordProperties_form p, 
#study_writing_keywordProperties_form input, 
#study_writing_keywordProperties_form select,
#study_writing_changeFactor_div p, 
#study_writing_changeFactor_div input, 
#study_writing_changeFactor_div select
{
    padding: 10px;
    font-size: 10px;
    color: black;
    background-color:var(--white2) ;
    border: solid rgba(0, 0, 0, 0.018) 1px;
    
}

#study_readingStructure_writingDoor_div{
justify-content: center;
z-index: 10;
background-color: #0099ae;
box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.4);
}
#study_readingStructure_writingDoor_div i{
    padding: 10px;
    color:var(--white2)
}

/* Viewing ReadingStructure */
#study_keywordsStructure_ul, #study_keywordsFunction_ul{
    overflow: scroll;
    order: 0;
    flex-grow: 1;
    width: 100%;
    
}
#study_keywordsStructure_ul li, #study_keywordsFunction_ul li{
    background-color: var(--white);
}
#study_keywordsStructure_add_form, #study_keywordsFunction_add_form{
    background-color: var(--blue4);
    color: var(--white);
    justify-content: center;

}
#study_keywordsStructure_add_form input, 
#study_keywordsStructure_add_form select,
#study_keywordsFunction_add_form input, 
#study_keywordsFunction_add_form select
{
    font-size: 10px;

}
#study_keywordsStructure_add_form i,
#study_keywordsFunction_add_form i
{
    padding: 10px;
}


#study_keywordProperties_div
{
    z-index: 900;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 80vh;
    display: none;
    width: 80vw;
    
}
#study_functionCode_div{
    z-index: 1000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 80vh;
    display: none;
    width: 80vw;
}
#study_keywordProperties_div label,
#study_functionCode_div label
{
    font-size: 10px;
    padding: 10px;
    background-color: var(--blue4);
    width: 100%;
    text-align: center;
    box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.05);
    z-index: 2;
}
#study_keywordProperties_div button,
#study_functionCode_div button
{
    font-size: 10px;
    padding: 10px;
    border-radius: 0;
    background-color: var(--blue4);
    text-align: center;
    box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.05);
    color: var(--white);
    width: min-content;
}
#study_keywordProperties_div input,
#study_functionCode_div input
{
    font-size: 10px;
    color: var(--white);

}


#study_keywordProperties_div form,
#study_functionCode_div form
{
    width: 100%;
}
.study_pkeywordsFunction_div{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 33%;
    font-size: 10px;
    flex-grow: 1;
    text-align: center;
    align-items: center;
}
.study_pkeywordsStructure_div{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 20%;
    font-size: 10px;
    flex-grow: 1;
    text-align: center;
    align-items: center;
}
.study_pkeywordsStructure_div i,
.study_pkeywordsFunction_div i
{
    padding: 10px;
    color:var(--blue4)

}
.study_pkeywordsStructure_div p,
.study_pkeywordsFunction_div p
{
    padding: 10px;
}
#study_keywordStructure_labelDiv{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 20%;
    font-size: 10px;
    z-index: 2;
    border-bottom: solid 4px  var(--blue3);
    place-items: center;
    width: 100%;
    background-color: var(--blue4);
    padding-left: 34px;
    height: 55px;
}
#study_functionCode_labelDiv{
    display: grid;
    grid-auto-flow: column;
    font-size: 10px;
    z-index: 2;
    border-bottom: solid 4px  var(--blue3);
    place-items: center;
    width: 100%;
    background-color: var(--blue4);
}
#study_keywordFunction_labelDiv{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 33%;
    font-size: 10px;
    z-index: 2;
    border-bottom: solid 4px  var(--blue3);
    place-items: center;
    width: 100%;
    background-color: var(--blue4);
    padding-left: 34px;
    height: 55px;
}

#study_keywordStructureProperties_labelDiv{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 14%;
    font-size: 10px;
    background-color: var(--blue4);
    padding-left: 114px;
    z-index: 10;
}
#study_workstation_keywordStructureProperties_labelDiv{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 14%;
    font-size: 10px;
    z-index: 2;
    background-color: var(--blue4);
    padding-left: 32.67px;
    width: 100%;
}

#study_keywordStructure_labelDiv label,
#study_keywordFunction_labelDiv label, 
#study_workstation_section label
{
    padding: 10px;
    text-align: center;
    font-size: 10px;
}

#study_keywordsStructure_labelUl_div{
    flex-grow: 1;
    align-items: center;
    box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.096);
    background-color: var(--special_black2);
    overflow: hidden;
}
#study_keywordsFunction_labelUl_div{
    align-items: center;
    box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.096);
    background-color: var(--special_black2);
    overflow: hidden;
}

#study_workstation_keywordProperties_input_ul, 
#study_workstation_keywordProperties_output_ul
{
    flex-grow: 1;
    overflow: scroll;
    background-color: var(--special_black2);
    height: 100%;
    display: none;
    width: 100%;
}
#study_keywordProperties_ul{
    flex-grow: 1;
    overflow: scroll;
    height: 100%;
    background-color: var(--special_black2);
}
#study_functionCode_ul{
    flex-grow: 1;
    overflow: scroll;
    height: 100%;
    background-color: var(--special_black2);
}

#study_keywordProperties_ul li, 
#study_workstation_keywordProperties_input_ul li,
#study_functionCode_ul li
{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 14%;
    font-size: 10px;
    background-color: var(--white);
    flex-grow: 1;
}
#study_keywordProperties_ul div{
}


#study_keywordProperties_ul label, 
#study_workstation_keywordProperties_input_ul label, 
#study_workstation_keywordProperties_output_ul label,
#study_functionCode_ul label
{
    font-size: 10px;
    text-align: left;
    background-color: #0099ae;
}

#study_keywordProperties_ul p,
#study_workstation_keywordProperties_input_ul p,
#study_workstation_keywordProperties_output_ul p,
#study_functionCode_ul p
{
    font-size: 10px;
    text-align: center;
    padding: 10px;   
    width: 100%;
    word-wrap: break-word;
    color: black;
}
#study_functionCode_ul i{
    font-size: 10px;
    text-align: center;
    width: 100%;
    word-wrap: break-word;
    color: var(--blue4);

}
#study_keywords_section{
    flex-grow: 2;
    overflow: hidden;
}

.div_changeFactor{
    place-content: center;
    place-items: center;
}
#study_keywordsStucture_addIcone_div, #study_keywordsFunction_addIcone_div{
    background-color: #0099ae;
    color: var(--white);
    padding: 10px;
}
#study_keywordProperties_addIcone_div{
    padding: 10px;
    background-color: var(--blue4);
    color: var(--white);
    width: min-content;
}
#study_writing_keywordProperties_form_div{
    flex-grow: 1;
}
#study_writing_post_button,#study_writing_close_button{
    width: min-content;
}

#study_keywordStructureProperties_addIcon_div{
    width: 100%;
    text-align: center;
    padding: 5px;
    background-color: var(--blue4);
    color: var(--white);
    cursor: pointer;
}

.keywordsTable_menu_div {
    color: var(--blue4);
    z-index: 1;
    justify-content: center;
    background-color: var(--white2);

}
.keywordsTable_menu_div i {
    order: 1;
    padding: 10px;
    order: 2;


}
.study_div_menuLiProperty{
    border-bottom:solid 0.01px rgba(0, 0, 0, 0.084) !important

}
.menuLi_div {
    background-color: var(--white);
    border: none !important;
    border-bottom:solid 0.01px rgba(0, 0, 0, 0.084) !important
}

.keywordsTable_menu_subdiv {
    height: 0;
    background-color: var(--blue4);
    justify-content: space-between;
    order: 0;
    align-items: center;
    position: absolute;
    overflow: hidden;
    z-index: 1000;
    top: 36px;
    width: 34px;

}
.keywordsTable_menu_subdiv i {
    color: var(--white);
    padding: 10px;


}

#study_keywordStructure_edit_i,
#study_keywordFunction_edit_i
{
    display: none;
}
#study_barrier{
min-width: 40px;
background-color: var(--blue4);
box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.128);
justify-content: center;
align-items: center;
gap: 20px;
}

#study_barrier2
{
    min-height: 40px;
    background-color: var(--blue4);
    box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.128);
    justify-content: center;
    align-items: center;
    gap: 20px;
    z-index: 100;
    overflow: hidden;
}

#study_barrier i, #study_barrier2 i{
    color: var(--white);
    font-size: 14px;
}

.div_i_keyword_structureProperty,
.div_i_keyword_functionProperty
{
    justify-content: center;
    align-items: center;
    
}
.study_div_i_KeywordProperty{
    justify-content: center;
    align-items: center;
    width: min-content;
    gap: 10px;
    padding: 10px;
    color: var(--blue4);
    background-color: var(--white2) !important;
}

#study_keywordProperty_editButton,
#study_keywordProperty_workButton
{
    display: none;
}

#study_functionSubjects_div{
    background-color: var(--blue4);
    position: absolute;
    bottom: 36px;
    display: none;
}
#study_functionSubjects_div p{
    font-size: 12px;
    width: fit-content;
    padding: 10px;

}
#study_functionSubjects_div i{
    padding: 10px;

}
#study_workstation_selectedStructureNames_ul,
#study_workstation_structureNames_rule_ul
{
    padding: 20px;
    background-color: var(--special_black2);
    border-radius: 30px;
    gap: 10px;
    overflow: scroll;
    flex-grow: 1;
    height: 100%;
}
#study_workstation_structureNames_x_ul{
    padding: 20px;
    background-color: var(--special_black2);
    border-radius: 30px;
    gap: 10px;
    overflow: scroll;
    width: 100%;
    min-height: 80px;
}
#study_workstation_selectedStructureNames_ul li,
#study_workstation_structureNames_rule_ul li, 
#study_workstation_structureNames_x_ul li{
    background-color: var(--white);
    padding: 10px;
    border-radius: 30px;
    font-size: 12px;
    gap: 5px;
    align-items: center;
}
#study_workstation_selectedStructureNames_ul li i,
#study_workstation_structureNames_rule_ul li i, 
#study_workstation_structureNames_x_ul li i{
    color: var(--blue4);
}
#study_workstation_selectedStructureNames_ul li p, 
#study_workstation_structureNames_rule_ul li p, 
#study_workstation_structureNames_x_ul li p{
    cursor: pointer;
}
#study_workstation_section{
    flex-grow: 1;
    height: 50vh;
    display: none;
}
#study_workstation_structureNames_div{
justify-content: center;
font-size: 12px;
}
#study_workstation_keywordProperties_div{
    overflow: hidden;
    flex-grow: 1;
    font-size: 12px;
    background-color: var(--special_black2);
    align-items: center;
    
}
#study_workstation_keywordProperties_title_label{
    background-color: var(--red3);
    width: 50%;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;

}
#study_workstation_keywordProperties_div input{
    font-size: 10px;
}
.li_keywordProperty_2{
    width: 100% !important;
    flex-grow: 0 !important;
}
.li_keywordProperty_2 p{
    height: min-content;
}
.div_menuLi_selectedProperty{
    background-color: var(--white);
    align-items: center;
    border-bottom:1px solid rgba(0, 0, 0, 0.151);
}
.div_menuLi_selectedProperty i{
    height: min-content;
    color: var(--blue4);
    padding: 10px;
    border-right: solid var(--blue4) 1px;
}
.div_navFunctionStructure{
    gap:3px;
    padding: 10px;
    cursor: pointer;
}

.div_navFunctionStructure p,
.div_navFunctionStructure i{
    color: var(--white);
    font-size: 10px;

}
#study_workstation_keywordProperties_search_input{
    flex-grow: 1;
    width: 100%;
}
#study_workstation_keywordProperties_search_button{
width: min-content !important;
font-size: 10px;
}
#study_workstation_keywordProperties_nav{
    background-color: var(--special_black2);
    box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.059);
    z-index: 10;
}
#study_workstation_keywordProperties_greeting_ul{
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    color: var(--white);
    font-size: 10px;
}
#study_navFunctionStructure_input_i,
#study_navFunctionStructure_output_i
{
    display: none;
}
#study_settings_div{
    background-color: var(--special_black2);    
}
#study_settings_div i{
    padding: 10px;
    color: var(--white);

}
#study_settings_wrapper{
    width: 0;
    overflow: scroll;
    align-items: start;
    gap:10px;
}
#study_settings_wrapper label
{
    width: 100%;
    text-align: center;
    font-size: 10px;
}
#study_settings_door_section{
    background-color: var(--blue4);
    justify-content: center;
    z-index: 10;
    box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.128);
}
#study_settings_door_section i{
    font-size: 25px;
}
#study_settingsCustomization_wrapper{
    width: 100%;
    overflow: hidden;
}
#study_settingsCustomization_titleWrapper{
    width: 100%;
    align-items: center;
    background-color: var(--green3);
    box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.068);
    z-index: 1;
}
#study_settingsCustomization_titleWrapper i{
    background-color: var(--green3);
    border-left: solid rgba(0, 0, 0, 0.084) 1px
}
#study_settingsCustomization_contentWrapper{
    overflow: scroll;
    display: none;
    padding: 40px;
    gap: 30px;
}
#study_settingsCustomization_contentWrapper label{
    background-color: var(--green4);
    padding: 5px;
}
#study_settingsCustomization_contentWrapper button{
font-size: 10px;
    }
#study_settingsCustomization_contentWrapper ul{
    background-color: var(--green3);
    overflow: scroll;
    max-height: 200px;
}
#study_settingsCustomization_content_inMemorySets_itemsUl{
    background-color: var(--white) !important;
    height: 40px;
    gap: 5px;
    padding: 5px;
    flex-grow: 1;
    border-top: 1px solid var(--green4);
    border-bottom: 1px solid var(--green4);
    display: none;
}
#study_settingsCustomization_contentWrapper li{
    background-color: var(--white2);
    font-size: 10px;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.062);
}
#study_settingsCustomization_contentWrapper i{
color: var(--green4);
}
#study_settings_content_customize_propertyName_div,
#study_settings_content_customize_structure_propertyName_div,
#study_settings_content_customize_function_propertyName_div,
#study_settings_content_customize_functionNature_div,
#study_settings_content_customize_changeFactor_div
{
    box-shadow: 1px 4px 10px rgba(2, 0, 0, 0.242);
    border-radius: 20px;
    max-height: 300px;
    overflow: hidden;
}
#study_settingsCustomization_content_inMemoryWrapper{
   justify-content: space-between;
   align-items: start;
   gap: 40px;
}
#study_settingsCustomization_content_inMemoryUnitsWrapper,
#study_settingsCustomization_content_inMemoryDataTypesWrapper,
#study_settingsCustomization_content_inMemorySetsWrapper,
#study_settingsCustomization_content_inMemoryIntervalsWrapper
{
    box-shadow: 1px 4px 10px rgba(2, 0, 0, 0.242);
    border-radius: 20px;
    overflow: hidden;
    width: 100%;
    font-size: 10px;
}
#study_settingsCustomization_content_inMemorySetsWrapper input, 
#study_settingsCustomization_content_inMemorySetsWrapper select{
    font-size: 10px;
}
#study_settingsCustomization_content_inMemoryIntervalsWrapper input, 
#study_settingsCustomization_content_inMemoryIntervalsWrapper select{
    font-size: 10px;
}

.study_settings_content_inputPanel_section input,
.study_settings_content_inputPanel_section select
{
    font-size: 10px;
    box-shadow: 1px 0px 100px rgba(0, 0, 0, 0.176);
}
.study_settings_content_inputPanel_section button{
    width: min-content !important;
}
.study_settings_content_inputPanel_section{
    box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.034);
    z-index: 1;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 20%;
}
#study_workstation_keywordProperties_nav div:hover
{
    background-color: var(--blue4);
}
.div_p_propertyObject{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 20%;
    font-size: 10px;
    text-align: center;
    align-items: center;
    flex-grow: 1;
}
.div_p_propertyUnitObject{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 50%;
    font-size: 10px;
    text-align: center;
    align-items: center;
    flex-grow: 1;
}
#study_settings_content_customize_property_title{
    background-color: var(--white);
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 20%;
    font-size: 10px;
    text-align: center;
    align-items: center;
    padding-left: 58.7px;
    border-bottom: solid rgba(128, 128, 128, 0.221) 1px;
}
#study_settings_content_customize_property_title label{
    background-color: var(--white);
    color: black;
    box-shadow: 5px 4px 10px rgba(0, 0, 0, 0.078);
}
#study_settings_content_customize_propertyUnit_title{
    background-color: var(--green4);
    font-size: 10px;
    text-align: center;
    align-items: center;
   
}

.li_nothingToShow{
   align-items:center;
   justify-content:center;
   padding:10px
}
.div_menuIcones_propertyObject{
    align-items: center;
    justify-content: center;
}
#study_settings_content_customize_propertyObject_editButton{
    display: none;
}
#study_keywordPropertyValue_section{
    border-top: solid 5px var(--blue4);
}
.study_settingsCustomization_content_inMemoryLabels{
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    z-index: 10;
    box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.11);   
}
#study_settings_content_customize_propertyUnit_viewing{
    height: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
#study_settings_content_customize_propertyUnit_ulContainer_div{
    position: relative;
}
.study_settings_content_inputPanel_section{
    flex-grow: 1;
}
#study_settings_content_customize_propertyObject_buttonContainer_section button{
flex-grow: 1;
}
#study_settingsCustomization_content_inMemoryUnit_unitInput{
    flex-grow: 1;
}

.study_settingsCustomization_content_inMemoryInputWrapper input,
.study_settingsCustomization_content_inMemoryInputWrapper select
{
    font-size: 10px;
}
.study_settingsCustomization_content_inMemoryInputWrapper{

}
.li_item_setInMemory{
    justify-content: center;
    align-items: center;
    background-color: var(--white);
    color: black;
    border-radius: 30px;
    padding: 5px;
    gap: 5px;
}
.li_item_setInMemory p{
    flex-grow: 1;

}
.li_item_setInMemory i{
    padding: 0 !important;
}
#study_settingsCustomization_content_inMemoryDataType_dataTypeEditButton{
    display: none;
}
.study_settingsCustomization_content_inMemoryColumn{
    width: 100%;
    gap: 40px
}
