.Chat_messageEmojiInline {
  display: inline-flex;
  direction: inherit;
  unicode-bidi: isolate;
  vertical-align: -0.2em;
}

.Chat_messageEmojiImage {
  width: 1.15em;
  height: 1.15em;
  display: inline-block;
  vertical-align: -0.2em;
  margin: 0 0.04em;
  user-select: none;
  pointer-events: none;
}
